@import url(https://fonts.bunny.net/css?family=darker-grotesque);

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow: hidden;
}

body {
	align-items: center;
	background-color: #EAEAEA;
	display: flex;
	font-family: "darker grotesque", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	justify-content: center;
    min-height: 100vh;
	overflow: hidden;
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
    justify-content: space-between;
	margin-bottom: 3rem;
	max-width: 100vw;
	position: relative;
	width: 35rem;
}