@import url(https://fonts.bunny.net/css?family=darker-grotesque);

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow: hidden;
}

body {
	font-family: "darker grotesque", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
}